
table.dcs-tracker-ids
{
	text-align:center;
	padding:10px;
	padding-right:15px;
	border-collapse:collapse;
	background-color: #aaa;
	margin-top: 10px;
}

table.dcs-tracker-ids th
{
	padding:10px;
	font:bold 0.9em Verdana;
}

table.dcs-tracker-ids tbody
{
   	height: 100px;
	overflow: auto;
	background-color: #ddd;
}

hr.dcs-tracker-admin
{
	width:95%;
	text-align:left;
	position:absolute;
	left:10px;
}

p.dcs-tracker-h1
{
	font:bold 2.0em Verdana;
	vertical-align:top;
}

p.dcs-tracker-h2
{
	font:bold 1.0em Verdana;
	vertical-align:top;
}

label#dcs-tracker-discount
{
   	vertical-align: middle;
}

label#dcs-tracker-discount:after
{
   	content: " ($)";
}

label#dcs-tracker-discount.percentage:after
{
   	content: " (%)";
}

#dcs-tracker-discount, #dcs-tracker-discount-name, input.dcs-tracker-admin
{
   	border-radius: 5px;
	margin: 5px;
	border-color: #aaa;
}

input#dcs-tracker-discount
{
   	width: 75px;
}

#dcs-tracker-add-discount, #dcs-tracker-delete-discounts
{
	margin: 15px;
	border-radius: 5px;
}	

