/**
* DCS Tracker CSS file
*/

#dcs-tracker-create-code,
#dcs-tracker-update-code,
#dcs-tracker-create-agent-portal,
#dcs-tracker-update-agent-portal,
#dcs-tracker-update-google-options {
	padding: 10px;
	background: #607d8b;
	border-radius: 5px;
	color: white;
}

div.dcs-tracker-code {
	margin-top: 50px;
	border: 1px groove lightgray;
	border-radius: 5px;
	padding: 10px;
	width: 50%;
}

div.dcs-tracker-code table {
	border-spacing: 10px;
	width: 80%;
	margin: auto;
}

div.dcs-tracker-code table td {
	text-align: right;
}

div.dcs-tracker-ref-codes {
	margin-top: 50px;
	border: 1px groove lightgray;
	border-radius: 5px;
	padding: 10px;
	width: 80%;
}

table.dcs-tracker-ref-codes {
	border-spacing: 10px;
	width: 100%;
}

table.dcs-tracker-ref-codes th {
	border-bottom: 1px solid black;
}